<%- include('../partials/header') %>
<h1>Edit Place</h1>
<form action="/places/<%= place._id %>?_method=PUT" method="POST">
  <label>
    Name:
    <input type="text" name="name" />
  </label>
  <br />
  <label>
    Location:
    <input type="text" name="location" />
  </label>
  <br />
    <button type="submit">Apply Changes</button>
</form>
<br />
<form
					action="/places/<%= place._id %>?_method=DELETE"
					id="delete-form"
					method="POST"
				>
					<button type="submit">DELETE PLACE</button>
				</form>
<%- include('../partials/footer') %>
