<%- include('../partials/header') %>
<h1>Drinks</h1>
<div>
  <% drinks.forEach((d) => { %>
  <ul>
    <li><%= `${d.name}  |  ${d.place}` %> <a href="/drinks/<%= d._id %>">Details</a></li>
  </ul>
  <% }); %>
</div>
<br />
<a href="../drinks/new">Add new Drink</a>
<%- include('../partials/footer') %>
