<%- include('../partials/header') %>
<h3>Ingredients</h3>
<div>
    <% allIng.forEach((i) => { %> 
    <ul>
        <li> <%= `${i.ingType} -- ${i.name}` %> </li>
    </ul>
    <% }); %>
</div>
<a href="../ingredients/new">Add new ingredient</a>
<%- include('../partials/footer') %>