<%- include('../partials/header') %>
<h1>Logs</h1>

<div>
  <% logs.forEach((l) => { %>
  <ul>
    <li>
      <%= l.date.toLocaleDateString() %>
      <a href="/logs/<%= l._id %>">Details</a>
    </li>
  </ul>
  <% }); %>
</div>
<br />
<div>
  <a href="logs/new">Create a New Log</a>
</div>
<%- include('../partials/footer') %>
