<%- include('../partials/header') %>
<form action="/logs" method="POST">
  <h1>Start a new Log</h1>
  <h3>Add drink(s)</h3>
  <label>
    Drinks:
    <ul>
      <% drinkList.forEach((i) => { %>
      <li>
        <input
          type="checkbox"
          name="drinks"
          value="<%= `${i}` %>"
        />
        <%= `${i.name}` %>
      </li>
      <% }); %>
    </ul>
  </label>
  <label>
    <input type="submit" value="Add Log" />
  </label>
</form>

<%- include('../partials/footer') %>
